
<input type="checkbox" id="menu-toggle"/>
<label id="trigger" for="menu-toggle"></label>
<label id="burger" for="menu-toggle"></label>
<ul id="menu">
    <div class="menu_vertical">
        <br><br>
        <li><a href="#">Home</a></li>
        <li><a (click)="admin_categorias()" >Categorias</a></li>
        <li><a (click)="admin_productos()" >Productos  </a></li>
        <li><a (click)="admin_usuarios()">Usuarios</a></li>                
        <li><a (click)="admin_misdatos()">Mis datos</a></li>
        <li><a (click)="admin_reportes()">Reportes</a></li>
    </div>
</ul>



<!-------menu horizontal--
            <div style="background-color: rgb(41, 104, 223);">                 
                <div class="row">
                    <div class="col-2">
                       <br>
                       <br>
                    </div>     
                    <div class="col-10" >
                       
                           <div class="menu_horizontal">
                               cayegorias:
                               <span>desayunos</span>
                               <span>postres</span>            
                    </div>
                       
                   </div>  
                </div>
           </div>
        -->
           





