.nombre_cafe_baner { 
	margin: 0px 0% -18px 15%;
	padding-bottom: 0px;
	
	
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif" ;
	/*grid-column: 1;
	grid-row: 1;
	z-index: 1;
	/
	
	
	/*animation: glow 10s ease-in-out infinite alternate;
	text-align: left;
	/*opacity: 0.95;*/
	/*border: #154ce2; */  
	font-size: 4rem;  
  }



  