



  /*-------------------------------------------MENU VERTICAL--------------------------------------------------*/
  @import url(https://fonts.googleapis.com/css?family=Roboto:400,700);

  @keyframes checked-anim {
      100% {
          width: 0px;
          height: 0px;
          
          background-color: #000000;
          /*
          background-color: rgb(202, 5, 159);
          */
      }
      50% {
          width: 230px;
          height: 30%;
          border-radius: 0;
      }
  }
  @keyframes not-checked-anim {
      0% {
          width: 0px;
          height: -50px;
      }
  }
  
  .menu_vertical :hover{
    
      background-color: #7e634e;;
  }
  
  .menu_vertical li,  .menu_vertical a {
      margin: 100px 0px -95px 0.95; 
      color: #fbfeff;
      font: 14pt "Roboto", sans-serif;
      font-weight: 800;
      line-height: 2.8;
      text-decoration: none;
      text-transform: none;
      list-style: none;
      outline: 0;
      display: none;
      background-color: #1F1B1C;
      /*background-color: rgb(202, 5, 159);*/

  }
  .menu_vertical li {
      width: 230px;
      text-indent: 56px;}
  
  #trigger, #burger, #burger:before, #burger:after {
      position: absolute;
      top: 88px;              /*este determina la posicion del cuadrado*/
      left: 35px;
      background: rgb(255, 255, 255); /*******este da el color de la flechas************/
      width: 30px;            /*este determina la el ancho del cuadrado*/
      height: 5px;
      transition: .3s ease;
      cursor: pointer;
      z-index: 1;
  }
  #trigger {
      height: 125px;
      background: none;
  }
  #burger:before {
      content: " ";
      top: 10px;
      left: 0;
  }
  #burger:after {
      content: " ";
      top: 20px;
      left: 0;
      
  }
  #menu-toggle:checked + #trigger + #burger {
      top: 98px;                   /*este determina la posicion de la fecha*/
      transform: rotate(90deg);       /*gira la flecha */
      transition: transform .4s ease;
      background: rgb(255, 255, 255); /*este determina la color de la fecha*/
  }
  
  #menu-toggle:checked + #trigger + #burger:before {
      width: 20px;
      top: -2px;
      left: 18px;
      transform: rotate(45deg) translateX(-5px); /*rorate(45deg) sive para darle la forma a la*/
      transition: transform .4s ease;
      background: rgb(255, 255, 255); /*este determina la color de la fecha*/
  }
  #menu-toggle:checked + #trigger + #burger:after {
      width: 20px;
      top: 2px;
      left: 18px;
      transform: rotate(-45deg) translateX(-5px);
      transition: transform .4s ease;
      background: rgb(255, 255, 255); /*este determina la color de la fecha*/
  
  }
  #menu {
      position: absolute;
      margin: 0; padding: 0;
      width: 0px;
      height: 0px;
      background-color: #fff;
      border-bottom-right-radius: 0%; /**ESTE LE DA EL BORDE**/
      box-shadow: 0 2px 5px rgba(0,0,0,0.26); /*********este le da color a la flecha*********/
      animation: not-checked-anim 1.s both ;
      transition: .4s;
  }
  #menu-toggle:checked + #trigger + #burger + #menu {
      animation: checked-anim 1s ease both;      
  }
  #menu-toggle:checked + #trigger ~ #menu > .menu_vertical li, .menu_vertical a {
      display: block;
  }
  [type="checkbox"]:not(:checked), [type="checkbox"]:checked {
      display: none;
  }
  /*-----------------------------------------------*/
  
  /*-------------------------------------------------MENU HORIZONTAL-----------------*/
  
  .menu_horizontal,.menu_horizontal span {
      color: #fbfeff;
      font: 13pt "Roboto", sans-serif,italic;
      margin: 15px 8px 0px 15px;
  }
  .menu_horizontal :hover {
      color: #1F1B1C;    
  }
  
  /*-------------------------------------------------*/
  